.die {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.die > svg {
    height: 100%;
    width: 100%;
}
.die > svg path {
    fill: white !important;
}
.hold {
    border: .2rem solid var(--highlighted-color);
    border-radius: .2rem;
}
