.end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.player:first-child {
    color: var(--highlighted-color);
}
.player {
    display: flex;
    width: 26rem;
    font-size: larger;
    gap: .5rem;
    justify-content: space-between;
    padding: .3rem;
    margin-bottom: .4rem;
    border: .1rem solid var(--secondary-color);
    background-color: var(--background-element-color);
    border-radius: .2rem;
}