.setup__player-panel {
    background-color: var(--primary-color);
    position: relative;
    border: .1rem solid var(--secondary-color);
    border-radius: .3rem;
    padding: .5rem 1rem;
}
.setup__player-panel > span {
    position: absolute;
    padding: 0 1rem;
    right: 0;
    color: var(--highlighted-color);
    cursor: pointer;
    font-family: 'Archivo Black', sans-serif;
}
