
.play{

}
hr {
    color: var(--secondary-color);
}
.playerContainer{
    margin-left: 2.7rem;
    display: flex;
    flex-direction: row;
}

.player {
    width: 4rem;
    text-align: center;
    background-color: var(--inactive-color);    
}

.active  {
    color: var(--highlighted-color) !important;
    background-color: var(--background-element-color) !important;
}

.sheet {
    background-color: var(--background-element-color);
    padding: 1rem 3rem;
    border-radius: 1rem;
}

.figure {
    display: flex;
    gap: 1rem;
    font-size: .7rem;
}

.col1 {
    width: 7rem
}

.col2 {
    width: 4rem;
}
.col3 {
    width: 2rem;
}
.dice {
    margin-top: 1rem;
    padding: .5rem;
    border-radius: .2rem;
    background-color: var(--background-element-color);
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.invisible{
    visibility: hidden;
}

.highlighted{
    color: var(--highlighted-color);
    cursor: pointer;
}