:root {
    --primary-color: hsl(0 0% 100%);
    --background-element-color: hsl(0 0% 80%);
    --secondary-color: hsl(0 0% 35%);
    --highlighted-color: hsl(249, 100%, 59%);
    --inactive-color: hsl(0, 0%, 65%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: hsl(0 0% 33%);
        --background-element-color: hsl(0 0% 20%);
        --secondary-color: hsl(0 0% 100%);
        --highlighted-color: hsl(36, 97%, 42%);
        --inactive-color: hsl(0, 0%, 40%);    
    }
}

* {
    box-sizing: border-box;
  }

h1 {
    margin-left: 2rem;
    text-align: center;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    line-height: 1.6;
    margin: 0;
    width: 800px;
  }

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin-left: 2rem;
    gap: 1rem;
}


.btn-outline {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: .2rem, .5rem;
    border: .1rem solid var(--secondary-color);
    text-decoration: none;
    border-radius: .3rem;
    cursor: pointer;
    line-height: 1.5rem;
}

.disabled {
    color : var(--inactive-color);
    border-color: var(--inactive-color);   
}

.btn-outline:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}